*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Raleway", sans-serif;
  }
  body {
    height: 100vh;
    background: radial-gradient(
        circle,
        rgb(94, 125, 220) 0%,
        rgba(214, 84, 207, 1) 55%,
        rgba(151, 156, 203, 1) 100%
      );
  }
  html {
    font-size: 16px;
  }
   .wrapper {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
  }
  .container { 
    width: 70vmin;
    height: 70vmin;
    display: flex;
    flex-wrap: wrap;
    gap: 2vmin;
  }
  .button-option {
    background: #ffffff;
    height: 22vmin;
    width: 22vmin;
    border: none;
    border-radius: 8px;
    font-size: 12vmin;
   color:  rgba(214, 84, 207, 1);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
  }
  #restart {
    font-size: 1.3em;
    padding: 1em;
   background-color: black;
    position: relative;
    margin: 1.5em auto 0 auto;
    display: block;
    border-radius: 10px;
    cursor: pointer; 
    transition: background-color 0.2s, border-color 0.2s, transform 0.2s;
    border: 2px solid transparent; 
    color:  rgb(94, 125, 220);
    
    

  }
  #restart:focus{
    
        outline: none; 
        background-color:  rgb(94, 125, 220); 
        transform: scale(1.05); 
        box-shadow: 0 0px 5px rgba(23, 24, 25, 0.9); 
     color:black;
      
  }

  .popup {
    background: radial-gradient(
        circle,
        rgb(94, 125, 220) 0%,
        rgba(214, 84, 207, 1) 55%,
        rgba(151, 156, 203, 1) 100%
      );
    height: 100%;
    width: 100%;
    position: absolute;
    display: flex;
    z-index: 2;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 1em;
    font-size: 12vmin;
  }
  #new-game {
    font-size: 0.6em;
    padding: 0.5em 1em;
    background-color: #0a0027;
    color: #ffffff;
    border-radius: 0.2em;
    border: none;
  }
  #message {
    color: #ffffff;
    text-align: center;
    font-size: 1em;
  }
  .popup.hide {
    display: none;
  }